<h1>{{ message }}</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Cost</th>
        <!--<th>Quantity</th>-->
        <th>Descriptyion</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in cart">
        <td>{{ item.Id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.cost }}</td>
        <!--<td>{{ item.quantity }}</td>-->
        <td>{{ item.description }}</td>

        <td>
            <button ng-click="removeFromCart(item.Id)">Remove</button>

        </td>
    </tr>
</table>

<p ng-show="userstatus==false">{{ statusMessage }}</p>
<a role="button" ng-show="userstatus==true" href="/#userDetails" class="btn btn-info">Buy</a>
