
<h1>{{ message }}</h1>
<a ng-show="role=='SuperAdmin'" role="button" href="/#create/{{ item.Id }}" class="btn btn-xs">Add new Item</a>
<br />
<table class="table">
    <tr>

        <th>Id</th>
        <th>Name</th>
        <th>Cost</th>
        <!--<th>Quantity</th>-->
        <th>Descriptyion</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in store">
        <td>{{ item.Id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.cost }}</td>
        <!--<td>{{ item.quantity }}</td>-->
        <td>{{ item.description }}</td>
        <td>
            <a ng-click="AddToCart(item.Id)" role="button" class="btn btn-success" >Add to cart</a>  
            <a ng-show="role=='SuperAdmin'" role="button" href="/#edit/{{ item.Id }}" class="btn btn-info">Edit Item</a>
            <a ng-show="role=='SuperAdmin'" role="button" href="/#delete/{{ item.Id }}" class="btn btn-danger">Delete</a>

            <!--<a ng-show="role=='SuperAdmin'" ng-click="DeleteItem(item.Id)" role="button" class="btn btn-danger">Delete</a>-->
            <!--<button ng-show="role=='SuperAdmin'" class="btn-danger">Delete Item</button>-->
        </td>
    </tr>
    
</table>

<p>items selcted: {{order.getQuantity}}</p>
<p>Total cost: {{order.getCost | currency}}</p>


