<div ng-show="!showInfo">

    {{infoMessage}}
    <br />
    <form ng-submit="SaveFormData()" name="myForm">

        <p>
            Id:
            <span ng-model="result.cus.Id">{{ result.cus.Id }}</span>
        </p>

        <p>
            UserId:
            <span ng-model="result.cus.userId">{{ result.cus.userId }}</span>
        </p>

        <p>
            First Name:<br>
            <!--create an input and check its validity-->
            <input type="text" name="firstName" ng-model="result.cus.firstName" placeholder="enter your name here" ng-required="true" ng-maxlength="10">
            <!--if it is not valid it will show these errors-->
            <span style="color:red" ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">
                <span ng-show="myForm.firstName.$error.required">firstName is required.</span>
            </span>
            <span style="color:red" class="error" ng-show="myForm.firstName.$error.maxlength">
                Too long!
            </span>
        </p>

        <p>
            Last Name:<br>
            <!--create an input and check its validity-->
            <input type="text" name="lastName" ng-model="result.cus.lastName" placeholder="enter your name here" ng-required="true" ng-maxlength="10">
            <!--if it is not valid it will show these errors-->
            <span style="color:red" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">
                <span ng-show="myForm.lastName.$error.required">lastName is required.</span>
            </span>
            <span style="color:red" class="error" ng-show="myForm.lastName.$error.maxlength">
                Too long!
            </span>
        </p>

        <p>
            Email:<br>
            <!--create an input and check its validity-->
            <input type="email" name="email" ng-model="result.cus.email" placeholder="enter your name here" ng-required="true">
            <!--if it is not valid it will show these errors-->
            <span style="color:red" ng-show="myForm.email.$touched && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">email is required.</span>
            </span>
        </p>

        <p>
            Address:<br>
            <!--create an input and check its validity-->
            <input type="text" name="adress" ng-model="result.cus.adress" placeholder="enter your adress here" ng-required="true" ng-maxlength="10">
            <!--if it is not valid it will show these errors-->
            <span style="color:red" ng-show="myForm.adress.$touched && myForm.adress.$invalid">
                <span ng-show="myForm.adress.$error.required">lastName is required.</span>
            </span>
            <span style="color:red" class="error" ng-show="myForm.adress.$error.maxlength">
                Too long!
            </span>
        </p>

        <input type="submit" class="btn btn-success" ng-disabled="PersonInfoForm.$invalid" />

        
    </form>
</div>

<div ng-show="showInfo">
    <h3>Please confirm your information before proceeding</h3>

    <div>
        <dl class="dl-horizontal">


            <dt>
                First name
            </dt>
            <dd>
                {{result.cus.firstName}}
            </dd>
            <dt>
                Last name
            </dt>
            <dd>
                {{result.cus.lastName}}
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                {{result.cus.email}}
            </dd>
            <dt>
                 Address
            </dt>
            <dd>
                {{result.cus.adress}}
            </dd>
           
        </dl>

        <button ng-click="EditInformation()">Edit the information</button>
    </div>
    <br />

    <!--<a role="button" href="/#receipt/{{ result.cus.Id }}" class="btn btn-info">Accept information and buy</a>-->

    <button ng-click="HopToReceipt()">Accept information and buy more angular testing way</button>
    <br />
    <br />
    <p>Your Shopping history</p>
    <table class="table">
        <tr>

            <th>ID</th>
            <th>Total Cost</th>
            <th>Quantity</th>
            <th>order Date</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in result.orderList">
            <td>{{ item.Id }}</td>
            <td>{{ item.totalCost }}</td>
            <td>{{ item.totalCount }}</td>
            <td>{{ item.orderDate }}</td>
        </tr>
    </table>


</div>

